@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

.btnGrid {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,20%);
    height: 80%;
}

.container {
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 400px;
    box-shadow: 0px 0px 0px 10px #000000;
}


.aplicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    align-items: center;
}

body {
    background: rgb(50, 103, 77);
    box-shadow: inset 0px 0px 150px 90px rgb(31, 61, 55);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.disp {
    height: 20%;
    background-color: #202020;
    color: white;
    font-size: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-stretch: condensed;
    text-shadow: 0px 0px 7px white;
}

.btnGrid > button {
    font-size: 40px;
    font-weight: lighter;
    font-stretch: semi-condensed;
    color: #161616c9;
    border-radius: 100px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.459);
}

.numeric {
    background-color: #C7C7C7;
}

.upper {
    background-color: #AFB0B5;
}

.operation {
    background-color: #17b424;
}

.btnGrid button:hover {
    opacity: .9;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}
